extends layouts/layout.pug

block content
    header
        div#navBar
            nav
                ul 
                    li
                        a(href = "/profile") Back to profile
    div#editForm
        h2 Edit profile
        form(action = "/profile/edit", method = "POST" autocomplete = "off")
            select(name = "division")
                option(value = '') Select division
                option Iron
                option Bronze
                option Gold
                option Platinum
                option Diamond
                option Master
                option Grandmaster
                option Challenger
            select(name = "division_tier")
                option(value = '') Select tier divizion
                option 1
                option 2
                option 3
                option 4
            select(name = "main_lanes")
                option(value = '') Select your main lane
                option Top
                option Jungle
                option Mid
                option ADC
                option Support
            input(type = "text", name = "main_champs", placeholder = "Main Champion(s)")
            select(name = "spoken_language")
                option(value = '') Select your native language
                option Chinese
                option English
                option Japanese
                option Romanian
                option Russian
            select(name = "region")
                option(value = '') Select your region
                option EUNE
                option EUW
                option NA
                option Oceania
            button(type = "submit", class = "btn") Submit edit