extends layouts/layout.pug

block content
    header
        div#navBar
            nav
                ul
                    li
                        a(href = "/logout") Log out
                    li
                        a(href = "/profile") Profile
                    li
                        a(href = "/hostGame") Host Team
                    li
                        a(href = "/searchGame") Search Team
            h3(float = "left") #{user}
    block hostOrSearch