extends layouts/layout.pug 

block content
    header
        div#navBar
            nav
                ul 
                    li
                        a(href = "register") Register 
                    li 
                        a(href = "login") Login