extends layouts/layout.pug

block content
    div#loginForm
        h2 Login
        form(action = "/login", method = "POST", autocomplete = "off")
            div.errorWarnings
                if messages.message != null
                    ul
                        li= messages.message
                else if messages.error != null 
                    ul 
                        li= messages.error
            label Email 
            input(type = "email", name = "email", placeholder = "Email")
            label Password
            input(type = "password", name = "password", placeholder = "Password")
            button(type = "submit" class = "btn") Login
            p Don't have an account ? 
                a(href = "register") Register here