extends layout

block content
    form(action = "/", method = "POST")
        div.userAuthenth
            label Username
            input(type = "text", name = "username", placeholder = "Username" required)
            label Password
            input(type = "password", name = "password", placeholder = "Password" required)
            button(type = "submit" class = "btn") Login
        div.goToLogin
            p Don't have an account ? 
                a(href = "register") Register here