extends layout

block content
    form(action = "/login", method = "POST", autocomplete = "off")#loginForm
        div.errorWarnings
            if messages.message != null
                ul
                    li= messages.message
            else if messages.error != null 
                ul 
                    li= messages.error
        h2 Login
        input(type = "text", name = "email", placeholder = "Email")
        input(type = "password", name = "password", placeholder = "Password")
        button(type = "submit" class = "btn") Login
        p Don't have an account ? 
            a(href = "register") Register here