extends layout

block content
    form(action = "/", method = "POST")
        div.userAuthenth
            label Email*
            input(type = "text", name = "email", placeholder = "Email" required)
            label Username*
            input(type = "text", name = "username", placeholder = "Username" required)
            label Password*
            input(type = "password", name = "password", placeholder = "Password" required)
            label Confirm Password*
            input(type = "password", name = "password2", placeholder = "Confirm Password" required)
            button(type = "submit" class = "btn") Register
        div.goToLogin
            p Already have an account? 
                a(href = "login") Sign in