extends layouts/layout.pug

block content
    div#registerForm
        h2 Register
        form(action = "/register", method = "POST", autocomplete = "off")
            div.errorWarnings
                if errors != null
                    ul
                        each error in errors
                            li= error.message
                if message != null
                    ul
                        li= message
            input(type = "email", name = "email", placeholder = "Email")
            input(type = "text", name = "username", placeholder = "Username")
            input(type = "password", name = "password", placeholder = "Password")
            input(type = "password", name = "password2", placeholder = "Confirm Password")
            button(type = "submit" class = "btn") Register
            p Already have an account? 
                a(href = "login") Sign in