body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #191919;
    color: white;
}

/* Forms / inputs */
#registerForm, #loginForm, #editForm {
    padding: 15px 250px 15 250px;
    margin: auto;
    margin-top: 50px;
    display: table;
}

#registerForm h2, #loginForm h2, #editForm h2 {
    padding-bottom: 15px;
    text-align: center;
}

input[type=text], input[type=password] {
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    border-bottom: 1px solid #444444;
    background: #191919;
    color: white;
    outline-width: 0;
    width: 100%;
    box-sizing: border-box;
}

select {
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 5px 0 22px 0;
    display: block;
    background: #191919;
    color: white;
    outline-width: 0;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    padding-bottom: 50px;
    padding-right: 100px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    border-bottom: 1px solid #444444;
    background: #191919;
    color: white;
    outline-width: 0;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

a {
    color: blueviolet;
}

/* navBar & navBar buttons*/
header {
    background-color: #242424;
}

#navBar {
    width: 95%;
    margin: 0 auto;
    background-color: #242424;
    overflow: hidden;
}

#navBar ul li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    padding: 10px 15px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 25px;
    opacity: 0.9;
    border: none;
}

#navBar ul li {
    float: right;
    display: inline;
    margin: 0px 10px 10px 10px;
}

ul {
    list-style-type: none;
}

.btn {
    background-color: blueviolet;
    color: white;
    padding: 10px 15px;
    padding-right: 25px;
    padding-left: 25px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    opacity: 0.9;
    cursor: pointer;
}

/* Profile */
#profileContent {
    margin: 25px 10px 25px 10px;
    padding: 15px;
    background-color: #242424;
}

#profileContent h3 {
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    text-align: left;
}

/* Host/Search Team */
#searchContainer, #hostContainer {
    padding: 15px 250px 15 250px;
    background-color: #242424;
    margin: auto;
    margin-top: 50px;
    display: table;
}
#searchContainer h2, #hostContainer h2, .teamPost h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    text-align: center;
}

/* Team Posts */
.teamPost {
    padding: 20px;
    background-color: #242424;
    margin: 50px 15px 50px 15px;
    display: table;
    width: 95%;
    text-align: left;
}